@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: 'Itim', cursive;
    background-color: black;

}
h1,h2,h3,h4,h5,h6,p,li {
    text-decoration: underline; 
    font-style: italic;
}
nav {
    background-color: #ffd700; 
}
