@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body  {
    font-family: 'Itim', cursive;
    background-color: black;

}
h1,h2,h3,h4,h5,h6 {
    text-decoration: underline; 
    font-style: italic;
}
nav {
    background-color: #ffd700; text-align: center;
}

nav>a:hover {
    background-color: rgb(255, 255, 0);
}


nav > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 8px 12px;
}

a,h1,h3,p,label{
    color:rgb(255, 255, 0)
}
.Float-left{
    float: left;
}